body {
    background-color: rgb(0, 0, 0);
    margin: 2px white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}
strong{color: rgb(0, 255, 221)
}
header {
    border-bottom: solid 2px rgb(192, 255, 247);
    padding: 20px;
    font-size: 32px;
    color: rgb(192, 255, 247);
}
h1 {color: rgb(192, 255, 247);
    text-align: center
}
h2 {color: rgb(192, 255, 247);
    text-align: center
}
nav a{color:rgb(213, 165, 255);
    text-align: center
}
li {color: aliceblue;
    text-align: left;
    padding: 1.5%
}
p {color: aliceblue;
    text-align: center;
    font-size: large;
    padding: 5%;
}
img .Bingus {text-align: center;
    width: 45%;
    border: solid 2px rgb(192, 255, 247)
}
a href {color: rgb(0, 255, 221);
}
  section {
    background: rgb(156, 213, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 5%;
  }